body{
    background-color: black;
}

h1{
    color: red;
    background-color: black;
}

.alons.photo{
    width: 800;
}

img.alons.photo{
    height: auto;
}

p.alons-photo{
    color: blue;
}

li{
    list-style-type: lower-greek;
}

#lorem1{
    color: white;
}

ul > li {
    color: red
}

#lastLorem{
    color: white;
}

ul strong {
    background-color: blue;
}

ul em{
    background: yellow;
}

a:link{
    color: yellow;
}

a:visited{
    color:red;
}

a:focus{
    outline:none;
    background-color: purple;
}

a:hover{
    background-color: green;
}

a:active{
    background-color: chocolate;
    color: white;
}